{% extends "layout.html" %}
{% block body %}
    <a href="/bhavcopy/">Latest Bhavcopy Data (Top ten stocks)</a>
        <br /> (Top n stocks are calculated based on change percentage from open to close)<br /><br />

	<form type="post" action="rank" style="margin: 0"> <input id="number" type="number" name="number" placeholder="Rank..." > <button id="search_submit" type="submit" >
	Submit</button> </form>

	<form type="post" action="search" style="margin: 0"> <input id="name" type="text" 		name="name" placeholder="Search..." > <button id="search_submit" type="submit" >
	Submit</button> </form>
{% endblock %}
